NEXT_PUBLIC_FIREBASE_API_KEY=AIzaSyDz2_WIoNlbvLm23daekraqXk6GJ1D-Hu4
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=live-stream-c5c5b.firebaseapp.com
NEXT_PUBLIC_FIREBASE_PROJECT_ID=live-stream-c5c5b
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=live-stream-c5c5b.firebasestorage.app
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=250399087433
NEXT_PUBLIC_FIREBASE_APP_ID=1:250399087433:web:358a352c1abff698091898
